Repository AlexWayfer/stream_timer: changes, and which Cirrus tasks are due for each by the changed paths.
All: lint_docs, lint_styles, lint_scripts, rubocop

lint_docs:
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
    - echo $CIRRUS_OS
    - node -v
    - cat package.json
    - cat pnpm-lock.yaml
  install_script:
  - npm install -g pnpm
  - pnpm install
  container:
    image: node
  lint_script: pnpm run lint:docs

lint_styles:
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
    - echo $CIRRUS_OS
    - node -v
    - cat package.json
    - cat pnpm-lock.yaml
  install_script:
  - npm install -g pnpm
  - pnpm install
  container:
    image: node
  lint_script: pnpm run lint:styles

lint_scripts:
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
    - echo $CIRRUS_OS
    - node -v
    - cat package.json
    - cat pnpm-lock.yaml
  install_script:
  - npm install -g pnpm
  - pnpm install
  container:
    image: node
  lint_script: pnpm run lint:scripts

rubocop:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat Gemfile.lock
  install_script:
  - gem install bundler
  - bundle update
  container:
    image: ruby:latest
  lint_script: bundle exec rubocop --format=json --out=rubocop.json
  always:
  ...

Many improvements for user-configuration system
  Gemfile.lock
  controllers/site/public/configurations_controller.rb
  controllers/site/timer_controller.rb
  db/migrations/20201009180835_add_users.rb
  forms/configuration/_change.rb
  forms/configuration/create.rb
  forms/configuration/find.rb
  forms/configuration/update.rb
  forms/user/find.rb
  helpers/configurations_helper.rb
  locales/en.yaml
  views/site/public/configurations/_form.html.erb
  views/site/public/configurations/_list.html.erb
  views/site/public/configurations/forbidden.html.erb
Due: rubocop

Small improvements for commented lines in `session` config example
  config/session.example.yaml
Due: none

Increase session expiration from 1 month to 1 year
  config/session.example.yaml
Due: none

Fix mounting (`/public` pathes and `available?` action)
  application.rb
  controllers/site/index_controller.rb
  controllers/site/public/_controller.rb
  views/site/errors/404.html.erb
  views/site/public/layout.html.erb
Due: rubocop

Take out "Copy" and "Show" buttons JS code into components
  assets/scripts/components/button-with-toggle-text.js
  assets/scripts/components/copy-button.js
  assets/scripts/components/show-password-button.js
  assets/scripts/main.js
Due: lint_scripts

Fix selected state in configuration list for `update` action
  views/site/public/configurations/_list.html.erb
Due: none

Add an ability to delete configurations
  Gemfile.lock
  assets/scripts/main.js
  assets/styles/components/configurations/_form.scss
  controllers/site/public/configurations_controller.rb
  forms/configuration/delete.rb
  helpers/configurations_helper.rb
  locales/en.yaml
  views/site/public/configurations/_form.html.erb
  views/site/public/configurations/_load.html.erb
Due: lint_styles, lint_scripts, rubocop

Add `created_at` and `updated_at` displaying
  assets/styles/components/_configurations.scss
  assets/styles/components/configurations/_user_key.scss
  db/migrations/20201015010129_add_updated_at_columns.rb
  locales/en.yaml
  views/site/public/configurations/_list.html.erb
  views/site/public/configurations/layout.html.erb
Due: lint_styles, rubocop

Improve styles of configuration name input
  assets/styles/components/configurations/_form.scss
  views/site/public/configurations/_form.html.erb
Due: lint_styles

Add an ability to regenerate user key
  controllers/site/public/configurations_controller.rb
  controllers/site/public/users_controller.rb
  forms/user/regenerate_key.rb
  helpers/configurations_helper.rb
  helpers/users_helper.rb
  locales/en.yaml
  views/site/public/configurations/_load.html.erb
  views/site/public/configurations/layout.html.erb
Due: rubocop

Avoid XSS exploits
  views/site/layout.html.erb
  views/site/public/configurations/_form.html.erb
  views/site/public/configurations/_list.html.erb
  views/site/timer/index.html.erb
Due: none

Allow to hide countup time after countdown
  assets/scripts/components/configuration-form.js
  assets/scripts/components/timer.js
  assets/styles/components/configurations/_form.scss
  db/migrations/20201018011450_add_display_countup_time.rb
  forms/configuration/_change.rb
  locales/en.yaml
  view_objects/timer.rb
  views/site/public/configurations/_form.html.erb
  views/site/timer/index.html.erb
Due: lint_styles, lint_scripts, rubocop

Add dark mode (theme)
  .toys/.toys.rb
  Gemfile
  Gemfile.lock
  README.md
  assets/icomoon/selection.json
  assets/scripts/main.js
  assets/styles/_colors.scss
  assets/styles/components/_dark-theme.scss
  assets/styles/components/_forms.scss
  assets/styles/components/_header.scss
  assets/styles/main.scss
  controllers/site/_controller.rb
  public/images/icons/symbol-defs.svg
  public/scripts/lib/svgxuse.min.js
  public/styles/lib/icomoon.css
  views/site/layout.html.erb
  views/site/public/layout.html.erb
Due: lint_docs, lint_styles, lint_scripts, rubocop

Add ability to display countdown information while countup
  assets/scripts/components/configuration-form.js
  assets/scripts/components/timer.js
  assets/styles/components/_timer.scss
  assets/styles/components/configurations/_form.scss
  db/migrations/20201031201630_add_display_countdown_information.rb
  forms/configuration/_change.rb
  locales/en.yaml
  view_objects/_base.rb
  view_objects/timer.rb
  views/site/public/configurations/_form.html.erb
  views/site/timer/_time_with_text.html.erb
  views/site/timer/index.html.erb
Due: lint_styles, lint_scripts, rubocop

Update dependencies
  .node-version
  .ruby-version
  Gemfile.lock
  package.json
  pnpm-lock.yaml
Due: lint_docs, lint_styles, lint_scripts

Add timer to specific time
  assets/scripts/components/configuration-form.js
  assets/scripts/components/timer.js
  assets/scripts/main.js
  assets/styles/components/_timer.scss
  assets/styles/components/configurations/_form.scss
  assets/styles/lib/_inputs_with_types.scss
  assets/styles/main.scss
  db/migrations/20201031232428_add_specific_time.rb
  forms/configuration/_change.rb
  locales/en.yaml
  view_objects/timer.rb
  views/site/public/configurations/_form.html.erb
  views/site/timer/index.html.erb
Due: lint_styles, lint_scripts, rubocop

Add logotype into site header
  assets/styles/components/_header.scss
  locales/en.yaml
  public/images/logo.png
  views/site/public/layout.html.erb
Due: lint_styles

Update dependencies
  Gemfile.lock
Due: none

Add suggested `rubocop-sequel`
  .rubocop.yml
  Gemfile
  Gemfile.lock
Due: rubocop

Fix broken logo at nested routes
  views/site/public/layout.html.erb
Due: none

Replace custom `url_with_mtime` with built-in `url_to ..., version: true`
  controllers/site/_controller.rb
  views/site/public/layout.html.erb
Due: rubocop

Change container width to page width
  assets/styles/_sizes.scss
  assets/styles/components/_page.scss
Due: lint_styles

Make "About" page first, redirect existing users to "Configurations"
  controllers/site/public/_controller.rb
  controllers/site/public/configurations_controller.rb
  controllers/site/public/index_controller.rb
  controllers/site/public/users_controller.rb
Due: rubocop

Update "About" page text
  locales/en.yaml
Due: none

Add actions for configurations to "About" section
  locales/en.yaml
  views/site/public/about.html.erb
  views/site/public/configurations/_new_link.html.erb
Due: none

Improve mobile (small screens) layout
  assets/styles/components/_configurations.scss
  assets/styles/components/_forms.scss
  assets/styles/components/_header.scss
  assets/styles/components/configurations/_form.scss
  assets/styles/components/configurations/_load.scss
  assets/styles/main.scss
  views/site/public/configurations/_form.html.erb
  views/site/public/configurations/_form/_time_inputs.html.erb
  views/site/public/configurations/_load.html.erb
Due: lint_styles

Improve patterns for Filewatchers
  filewatchers.yaml
Due: none

Add timer preview to configuration page
  assets/styles/_sizes.scss
  assets/styles/components/_timer.scss
  assets/styles/components/configurations/_form.scss
  assets/styles/components/configurations/_load.scss
  assets/styles/lib/_breakpoints.scss
  assets/styles/main.scss
  controllers/site/timer_controller.rb
  helpers/configurations_helper.rb
  locales/en.yaml
  views/site/public/configurations/_form.html.erb
  views/site/public/configurations/errors/403.html.erb
  views/site/public/configurations/errors/404.html.erb
  views/site/public/layout.html.erb
Due: lint_styles, rubocop

Replace hard coded breakpoints with custom (inline) `@media`
  assets/styles/components/_header.scss
  assets/styles/components/configurations/_form.scss
  assets/styles/lib/_breakpoints.scss
  assets/styles/main.scss
Due: lint_styles

Add chess background for preview `iframe`
  assets/styles/components/configurations/_form.scss
Due: lint_styles

Fix Stylelint error
  assets/styles/components/_forms.scss
Due: lint_styles

Fix YAML error in Filewatchers file
  filewatchers.yaml
Due: none

Fix documentation about `exe/setup.sh`, add info about Node.js
  README.md
Due: lint_docs

Improve Cirrus CI config
  .cirrus.yaml
Due: lint_docs, lint_styles, lint_scripts, rubocop

Use `exe/setup*` scripts instead of manual Bundle and Node modules caches
  .cirrus.yaml
Due: lint_docs, lint_styles, lint_scripts, rubocop

Add Docker
  .dockerignore
  .gitignore
  Dockerfile
  docker-compose.yaml
  exe/setup.sh
Due: lint_docs, lint_styles, lint_scripts, rubocop

Switch from Arch Linux to Alpine for Cirrus CI
  .cirrus.yaml
Due: lint_docs, lint_styles, lint_scripts, rubocop

Add CI image as CI cache key
  .cirrus.yaml
Due: lint_docs, lint_styles, lint_scripts, rubocop

Fix some issues with Alpine Linux, but still doesn't work
  .cirrus.yaml
Due: lint_docs, lint_styles, lint_scripts, rubocop

Path conditions:
  lint_docs: any of: .cirrus.yaml, .gitignore, package.json, .remarkrc.yaml, **.md
  lint_styles: any of: .cirrus.yaml, .gitignore, package.json, .remarkrc.yaml, assets/styles/**
  lint_scripts: any of: .cirrus.yaml, .gitignore, package.json, .remarkrc.yaml, assets/scripts/**, *.js
  rubocop: any of: .cirrus.yaml, .gitignore, Gemfile, .rubocop.yml, *.gemspec, **.rb, **.ru
