Repository AlexWayfer/stream_timer: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, stylelint, eslint, rubocop

.cirrus.yaml:

os_setup: &os_setup
  env:
    CI_IMAGE: alpine:3
  container:
    image: $CI_IMAGE
  os_setup_script:
    ## `bash` is required by `nodenv`, as I see
    - apk add --no-cache bash git # gcc make postgresql-libs

    - echo 'export PATH="$HOME/.rbenv/bin:$PATH"' >> ~/.rbenv_init
    - echo 'eval "$(rbenv init -)"' >> ~/.rbenv_init

    - echo 'export PATH="$HOME/.nodenv/bin:$PATH"' >> ~/.nodenv_init
    - echo 'eval "$(nodenv init -)"' >> ~/.nodenv_init

rbenv_cache: &rbenv_cache
  rbenv_cache:
    folder: $HOME/.rbenv
    fingerprint_script:
      - echo $CIRRUS_OS
      - echo $CI_IMAGE
      - cat .ruby-version
    populate_script:
      - git clone https://github.com/rbenv/rbenv.git ~/.rbenv

      - . ~/.rbenv_init

      ## https://github.com/rbenv/ruby-build#installation
      - mkdir -p "$(rbenv root)"/plugins
      - git clone https://github.com/rbenv/ruby-build.git "$(rbenv root)"/plugins/ruby-build

      - exe/setup/ruby.sh

nodenv_cache: &nodenv_cache
  nodenv_cache:
    folder: $HOME/.nodenv
    fingerprint_script:
      - echo $CIRRUS_OS
      - echo $CI_IMAGE
      - cat .node-version
    populate_script:
      - git clone https://github.com/nodenv/nodenv.git ~/.nodenv

      - . ~/.nodenv_init

      ## https://github.com/nodenv/node-build#installation
      - mkdir -p "$(nodenv root)"/plugins
      - git clone https://github.com/nodenv/node-build.git "$(nodenv root)"/plugins/node-build

      - exe/setup/node.sh

bundle_cache: &bundle_cache
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
      - echo $CIRRUS_OS
      - echo $CI_IMAGE
      - cat .ruby-version
      - cat Gemfile.lock
  install_script:
    - . ~/.rbenv_init
    - exe/setup/ruby.sh

node_modules_cache: &node_modules_cache
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
      - echo $CIRRUS_OS
      - echo $CI_IMAGE
      - cat .node-version
      - cat pnpm-lock.yaml
  install_script:
    - . ~/.nodenv_init
    - exe/setup/node.sh


remark_task:
  <<: *os_setup

  always:
    <<: *nodenv_cache

  <<: *node_modules_cache

  lint_script:
    - . ~/.nodenv_init
    - pnpm run lint:docs

  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yaml', '.gitignore', '.node-version', 'package.json', 'package-lock.json',
      '.remarkrc.yaml', '**.md'
    )

stylelint_task:
  <<: *os_setup

  always:
    <<: *nodenv_cache

  <<: *node_modules_cache

  lint_script:
    - . ~/.nodenv_init
    - pnpm run lint:styles

  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yaml', '.gitignore', '.node-version', 'package.json', 'package-lock.json',
      'browserslist', '.stylelintrc.yaml', 'assets/styles/**'
    )

eslint_task:
  <<: *os_setup

  always:
    <<: *nodenv_cache

  <<: *node_modules_cache

  lint_script:
    - . ~/.nodenv_init
    - pnpm run lint:scripts

  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yaml', '.gitignore', '.node-version', 'package.json', 'package-lock.json',
      'browserslist', '.eslint*', 'assets/scripts/**', '*.js'
    )

rubocop_task:
  <<: *os_setup

  always:
    <<: *rbenv_cache

    rubocop_artifacts:
      path: rubocop.json
      type: text/json
      format: rubocop

  <<: *bundle_cache

  lint_script:
    - . ~/.rbenv_init
    - bundle exec rubocop --format=json --out=rubocop.json

  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yaml', '.gitignore', '.ruby-version', 'Gemfile', 'Gemfile.lock',
      '.rubocop.yml', '**.rb', '**.ru'
    )

Switch Docker from Debian to ArchLinux, used in CI
  Dockerfile
Due: none

Update `pnpm-lock` after a regular run
  pnpm-lock.yaml
Due: none

Fix Bundle (and remove git-versions of gems where possible)
  Gemfile
  Gemfile.lock
Due: rubocop

Update dependencies for Ruby 3 support
  Gemfile.lock
Due: rubocop

Fix CI error about `nodenv` initialization in Ruby tasks and vice-versa
  .cirrus.yaml
Due: remark, stylelint, eslint, rubocop

Disable artifacts for RuboCop CI
  .cirrus.yaml
Due: remark, stylelint, eslint, rubocop

Resolve new RuboCop offenses
  forms/configuration/_change.rb
  spec/spec_helper.rb
Due: rubocop

Update Bundler version in `Gemfile.lock`
  Gemfile.lock
Due: rubocop

Fix (improve) styles of configuration form
  assets/styles/components/_forms.scss
  assets/styles/components/configurations/_form.scss
  views/site/public/configurations/_form.html.erb
Due: stylelint

Disable `email_address` gem
  Gemfile
  Gemfile.lock
Due: rubocop

Update the Bundler version used for `Gemfile.lock`
  Gemfile.lock
Due: rubocop

Suppress Bundle warnings in CI
  .cirrus.yaml
Due: remark, stylelint, eslint, rubocop

Replace `rollup` with `esbuild`
  package.json
  pnpm-lock.yaml
  rollup.config.js
Due: remark, stylelint, eslint

Delete unused `simplify-js`
  package.json
  pnpm-lock.yaml
Due: remark, stylelint, eslint

Add hint about space in the text
  assets/styles/components/configurations/_form.scss
  locales/en.yaml
  views/site/public/configurations/_form.html.erb
Due: stylelint

Update Node.js from 16 to 18
  .node-version
Due: remark, stylelint, eslint

Update Ruby version
  .ruby-version
Due: rubocop

Update gems, fix errors with Ruby 3.1
  Gemfile
  Gemfile.lock
Due: rubocop

Update `site` config example
  config/site.example.yaml
Due: none

Update Node.js packages
  package.json
  pnpm-lock.yaml
Due: remark, stylelint, eslint

Fix SCSS lint after Stylelint update
  .stylelintrc.yaml
  package.json
  pnpm-lock.yaml
Due: remark, stylelint, eslint

Fix Stylelint errors after update
  .stylelintrc.yaml
  assets/styles/_colors.scss
  assets/styles/_fonts.scss
  assets/styles/_sizes.scss
  assets/styles/components/_configurations.scss
  assets/styles/components/_dark-theme.scss
  assets/styles/components/_flash.scss
  assets/styles/components/_footer.scss
  assets/styles/components/_forms.scss
  assets/styles/components/_header.scss
  assets/styles/components/_page.scss
  assets/styles/components/configurations/_form.scss
  assets/styles/components/configurations/_user-key.scss
  assets/styles/lib/_breakpoints.scss
  assets/styles/lib/_clear-fix.scss
  assets/styles/lib/_disable-password-autocomplete.scss
  assets/styles/lib/_disable_password_autocomplete.scss
  assets/styles/lib/_headings.scss
  assets/styles/lib/_input-with-clear-button.scss
  assets/styles/lib/_input_with_clear_button.scss
  assets/styles/lib/_inputs-with-types.scss
  assets/styles/lib/_inputs_with_types.scss
  assets/styles/lib/_small-and-large-elements.scss
  assets/styles/lib/_small_and_large_elements.scss
  assets/styles/lib/_sticky-footer.scss
  assets/styles/main.scss
  pnpm-lock.yaml
  views/site/public/configurations/layout.html.erb
Due: stylelint

Resolve new RuboCop offenses
  config/processors/sentry.rb
  config/processors/sequel.rb
  config/puma.rb
  controllers/_controller.rb
  controllers/site/public/configurations_controller.rb
  controllers/site/timer_controller.rb
  helpers/configurations_helper.rb
  mailers/_base.rb
Due: rubocop

Update Sentry integrations
  Gemfile
  Gemfile.lock
  assets/scripts/sentry.js
  config/processors/r18n.rb
  config/processors/sentry.rb
  config/puma.rb
  controllers/_controller.rb
  helpers/users_helper.rb
  lib/flame/raven_context_patch.rb
  mailers/mail/_base.rb
  package.json
  pnpm-lock.yaml
  spec/integration/spec_helper.rb
  views/site/layout.html.erb
Due: remark, stylelint, eslint, rubocop

Update instructions about `systemd` service
  README.md
Due: remark

Resolve RuboCop offense about disabling cop
  config/processors/sentry.rb
Due: rubocop

Disable `development` environment for Sentry
  config/processors/sentry.rb
Due: rubocop

Rename `master` git branch to `main`
  .cirrus.yaml
  README.md
Due: remark, stylelint, eslint, rubocop

Resolve new offenses from SASS
  assets/styles/components/configurations/_form.scss
Due: stylelint

Add icons to external links
  assets/icomoon/selection.json
  assets/styles/main.scss
  controllers/site/public/_controller.rb
  locales/en.yaml
  public/images/icons/symbol-defs.svg
  views/site/public/_external_link.html.erb
  views/site/public/_svg_icon.html.erb
  views/site/public/about.html.erb
  views/site/public/configurations/_form.html.erb
  views/site/public/layout.html.erb
Due: stylelint, rubocop

Remove extra polyfill for SVG `<use>`
  public/scripts/lib/svgxuse.min.js
  views/site/layout.html.erb
Due: none

Disable text selection for labels in configuration form
  assets/styles/components/configurations/_form.scss
Due: stylelint

Update Node.js packages
  pnpm-lock.yaml
Due: none

Change default texts for only-countup timers
  assets/scripts/components/configuration-form.js
  forms/configuration/_change.rb
  views/site/public/configurations/_form.html.erb
Due: eslint, rubocop

Improve styles for error (500 dev) page
  assets/styles/components/_page.scss
Due: stylelint

Ignore Opera Mini for Stylelint
  browserslist
Due: stylelint, eslint

Fix buttons colors for dark theme
  assets/styles/components/_dark-theme.scss
  assets/styles/lib/_custom-background-color.scss
  assets/styles/main.scss
Due: stylelint
