Repository AlexWayfer/stream_timer: changes, and which Cirrus tasks are due for each by the changed paths.
All: lint_docs, lint_styles, lint_scripts, rubocop

lint_docs:
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
    - echo $CIRRUS_OS
    - node -v
    - cat package.json
    - cat pnpm-lock.yaml
  install_script:
  - npm install -g pnpm
  - pnpm install
  container:
    image: node
  lint_script: pnpm run lint:docs

lint_styles:
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
    - echo $CIRRUS_OS
    - node -v
    - cat package.json
    - cat pnpm-lock.yaml
  install_script:
  - npm install -g pnpm
  - pnpm install
  container:
    image: node
  lint_script: pnpm run lint:styles

lint_scripts:
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
    - echo $CIRRUS_OS
    - node -v
    - cat package.json
    - cat pnpm-lock.yaml
  install_script:
  - npm install -g pnpm
  - pnpm install
  container:
    image: node
  lint_script: pnpm run lint:scripts

rubocop:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat Gemfile.lock
  install_script:
  - gem install bundler
  - bundle update
  container:
    image: ruby:latest
  lint_script: bundle exec rubocop --format=json --out=rubocop.json
  always:
  ...

Add Cirrus CI config file
  .cirrus.yaml
Due: lint_docs, lint_styles, lint_scripts, rubocop

Make update of node modules correct
  package.json
  pnpm-lock.yaml
Due: lint_docs, lint_styles, lint_scripts

Disable extra Stylelint warning
  assets/styles/components/_configuration.scss
Due: lint_styles

Fix `pnpm run build` command
  package.json
  pnpm-lock.yaml
Due: lint_docs, lint_styles, lint_scripts

Update deployment instructions
  README.md
Due: lint_docs

Update domain in example configs
  config/mail.example.yaml
  config/sentry.example.yaml
Due: none

Add `rbenv rehash` after `bundle install`
  exe/setup/ruby.sh
Due: none

Add `nginx` config example files
  config/nginx/site.example.conf
  config/nginx/snippets/ssl-params.conf
  config/nginx/snippets/ssl.example.conf
Due: none

Fix SSL snippet including for nginx
  config/nginx/site.example.conf
Due: none

Revert "Fix SSL snippet including for nginx"
  config/nginx/site.example.conf
Due: none

Fix errors for cases when there is no `configuration_key` in cookies
  helpers/configuration_helper.rb
  views/site/configuration/_form.html.erb
Due: rubocop

Swap deployment steps for better usage
  README.md
Due: lint_docs

Change default path for Puma socket
  config/nginx/site.example.conf
  config/server.example.yaml
Due: none

Update default `root` in `nginx` config and instructions
  README.md
  config/nginx/site.example.conf
Due: lint_docs

Move `index` view from site's root to `configuration/`
  controllers/site/configuration_controller.rb
  controllers/site/index_controller.rb
  views/site/configuration/index.html.erb
Due: rubocop

Update defaults for configuration
  Gemfile.lock
  forms/configuration/_base.rb
Due: rubocop

Fix an error with no error log file
  config/server.example.yaml
Due: none

Add `systemd` service example
  README.md
  config/systemd.example.service
  exe/systemd.sh
Due: lint_docs

Don't install `pnpm` if it's already installed
  exe/setup/node.sh
Due: none

Fix an error in `site/layout` in production mode
  view_objects/_base.rb
Due: rubocop

Make systemd service `--user`
  README.md
  config/systemd.example.service
Due: lint_docs

Update the systemd service description
  config/systemd.example.service
Due: none

Update `update` script for `systemd` service
  exe/update.sh
Due: none

Fix systemd service name in `update` script
  exe/update.sh
Due: none

Add favicon
  public/android-chrome-96x96.png
  public/apple-touch-icon.png
  public/browserconfig.xml
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/mstile-150x150.png
  public/safari-pinned-tab.svg
  public/site.webmanifest
  views/site/layout.html.erb
Due: none

Remove `core-js` for IE11 compatibility
  assets/scripts/main.js
  package.json
  pnpm-lock.yaml
Due: lint_docs, lint_styles, lint_scripts

Add a margin for `Create new configuration` link on the edit page
  views/site/configuration/edit.html.erb
Due: none

Add "About" section and top-level menu
  Gemfile
  Gemfile.lock
  assets/styles/components/_header.scss
  assets/styles/components/_timer.scss
  controllers/site/_controller.rb
  controllers/site/about_controller.rb
  controllers/site/index_controller.rb
  locales/en.yaml
  view_objects/_base.rb
  views/site/about.html.erb
  views/site/configuration/layout.html.erb
  views/site/layout.html.erb
Due: lint_styles, rubocop

Fix menu for timer page
  views/site/layout.html.erb
Due: none

Add `git pull` commands for `update` script
  exe/setup.sh
  exe/update.sh
Due: none

Add countup timer (stopwatch)
  assets/scripts/components/configuration-form.js
  assets/scripts/components/timer.js
  assets/styles/components/_configuration.scss
  assets/styles/components/_forms.scss
  db/migrations/20200923165717_create_configurations.rb
  forms/configuration/_base.rb
  locales/en.yaml
  view_objects/timer.rb
  views/site/configuration/_form.html.erb
  views/site/configuration/_form/_arrow.html.erb
  views/site/configuration/_form/_time_inputs.html.erb
  views/site/timer/index.html.erb
Due: lint_styles, lint_scripts, rubocop

Add link to favicon source
  locales/en.yaml
Due: none

Remember configuration cookie for a year
  Gemfile.lock
  controllers/site/configuration_controller.rb
  helpers/configuration_helper.rb
Due: rubocop

Fix an URL in `public/site.webmanifest`
  public/site.webmanifest
Due: none

Remove extra `TODO` in code comments
  controllers/site/public/configurations_controller.rb
  forms/user/find_or_create.rb
Due: rubocop

Add flashes about configuration creating and updating
  assets/styles/components/_flash.scss
  controllers/site/public/configurations_controller.rb
  locales/en.yaml
Due: lint_styles, rubocop

Path conditions:
  lint_docs: any of: .cirrus.yaml, .gitignore, package.json, .remarkrc.yaml, **.md
  lint_styles: any of: .cirrus.yaml, .gitignore, package.json, .remarkrc.yaml, assets/styles/**
  lint_scripts: any of: .cirrus.yaml, .gitignore, package.json, .remarkrc.yaml, assets/scripts/**, *.js
  rubocop: any of: .cirrus.yaml, .gitignore, Gemfile, .rubocop.yml, *.gemspec, **.rb, **.ru
