Repository AlexWayfer/stream_timer: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, stylelint, eslint, rubocop

.cirrus.yaml:

os_setup: &os_setup
  container:
    image: archlinux
  os_setup_script:
    - pacman -Sy
    - pacman -S --noconfirm git gcc make postgresql-libs

rbenv_cache: &rbenv_cache
  rbenv_setup_script:
    - echo 'export PATH="$HOME/.rbenv/bin:$PATH"' >> ~/.bashrc
    - echo 'eval "$(rbenv init -)"' >> ~/.bashrc
  rbenv_cache:
    folder: $HOME/.rbenv
    fingerprint_script:
      - echo $CIRRUS_OS
      - cat .ruby-version
    populate_script:
      - git clone https://github.com/rbenv/rbenv.git ~/.rbenv

      - source ~/.bashrc

      ## https://github.com/rbenv/ruby-build#installation
      - mkdir -p "$(rbenv root)"/plugins
      - git clone https://github.com/rbenv/ruby-build.git "$(rbenv root)"/plugins/ruby-build

      - exe/setup/ruby.sh

nodenv_cache: &nodenv_cache
  nodenv_setup_script:
    - echo 'export PATH="$HOME/.nodenv/bin:$PATH"' >> ~/.bashrc
    - echo 'eval "$(nodenv init -)"' >> ~/.bashrc
  nodenv_cache:
    folder: $HOME/.nodenv
    fingerprint_script:
      - echo $CIRRUS_OS
      - cat .node-version
    populate_script:
      - git clone https://github.com/nodenv/nodenv.git ~/.nodenv

      - source ~/.bashrc

      ## https://github.com/nodenv/node-build#installation
      - mkdir -p "$(nodenv root)"/plugins
      - git clone https://github.com/nodenv/node-build.git "$(nodenv root)"/plugins/node-build

      - exe/setup/node.sh

bundle_cache: &bundle_cache
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
      - echo $CIRRUS_OS
      - cat .ruby-version
      - cat Gemfile.lock
  install_script:
    - source ~/.bashrc
    - exe/setup/ruby.sh

node_modules_cache: &node_modules_cache
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
      - echo $CIRRUS_OS
      - cat .node-version
      - cat pnpm-lock.yaml
  install_script:
    - source ~/.bashrc
    - exe/setup/node.sh


remark_task:
  <<: *os_setup

  always:
    <<: *nodenv_cache

  <<: *node_modules_cache

  lint_script:
    - source ~/.bashrc
    - pnpm run lint:docs

  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yaml', '.gitignore', '.node-version', 'package.json', 'package-lock.json',
      '.remarkrc.yaml', '**.md'
    )

stylelint_task:
  <<: *os_setup

  always:
    <<: *nodenv_cache

  <<: *node_modules_cache

  lint_script:
    - source ~/.bashrc
    - pnpm run lint:styles

  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yaml', '.gitignore', '.node-version', 'package.json', 'package-lock.json',
      'browserslist', '.stylelintrc.yaml', 'assets/styles/**'
    )

eslint_task:
  <<: *os_setup

  always:
    <<: *nodenv_cache

  <<: *node_modules_cache

  lint_script:
    - source ~/.bashrc
    - pnpm run lint:scripts

  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yaml', '.gitignore', '.node-version', 'package.json', 'package-lock.json',
      'browserslist', '.eslint*', 'assets/scripts/**', '*.js'
    )

rubocop_task:
  <<: *os_setup

  always:
    <<: *rbenv_cache

    rubocop_artifacts:
      path: rubocop.json
      type: text/json
      format: rubocop

  <<: *bundle_cache

  lint_script:
    - source ~/.bashrc
    - bundle exec rubocop --format=json --out=rubocop.json

  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yaml', '.gitignore', '.ruby-version', 'Gemfile', 'Gemfile.lock',
      '.rubocop.yml', '**.rb', '**.ru'
    )

Rename SCSS mixin to more accurate
  assets/styles/components/_dark-theme.scss
  assets/styles/lib/_button-background-color.scss
  assets/styles/main.scss
Due: stylelint

Make "Copy" and "Load" buttons grouped with inputs
  assets/styles/components/configurations/_load.scss
  assets/styles/components/configurations/_user-key.scss
  views/site/public/configurations/_load.html.erb
  views/site/public/configurations/layout.html.erb
Due: stylelint

Fix non-extraction of `svgxuse.min.js` (IcoMoon)
  .toys/.toys.rb
  Gemfile.lock
Due: rubocop

Add Twitch connection via OmniAuth
  Gemfile
  Gemfile.lock
  assets/icomoon/selection.json
  assets/styles/_colors.scss
  assets/styles/components/_configurations.scss
  assets/styles/components/_dark-theme.scss
  assets/styles/components/configurations/_connect.scss
  assets/styles/components/configurations/_load.scss
  assets/styles/components/configurations/_user-key.scss
  assets/styles/main.scss
  config.ru
  config/main.rb
  config/processors/omniauth.rb
  config/processors/sequel.rb
  config/twitch.example.yaml
  controllers/site/public/auth/_controller.rb
  controllers/site/public/auth/index_controller.rb
  controllers/site/public/auth/twitch_controller.rb
  controllers/site/public/disconnect_controller.rb
  db/migrations/20220915161257_create_twitch_users.rb
  forms/twitch/connect.rb
  locales/en.yaml
  models/twitch_user.rb
  models/user.rb
  public/images/icons/symbol-defs.svg
  views/site/public/configurations/_connect.html.erb
  views/site/public/configurations/_load.html.erb
  views/site/public/configurations/layout.html.erb
Due: stylelint, rubocop

Resolve Stylelint offense
  assets/styles/lib/_button-background-color.scss
Due: stylelint

Update `flame_deploy_toys`
  Gemfile.lock
Due: rubocop

Add Google Auth
  Gemfile
  Gemfile.lock
  application.rb
  assets/styles/_colors.scss
  assets/styles/components/_dark-theme.scss
  assets/styles/components/configurations/_connect.scss
  config.ru
  config/google.example.yaml
  config/main.rb
  config/session.example.yaml
  controllers/site/public/_controller.rb
  controllers/site/public/auth/_controller.rb
  controllers/site/public/auth/index_controller.rb
  controllers/site/public/auth/twitch_controller.rb
  controllers/site/public/auth_controller.rb
  controllers/site/public/disconnect_controller.rb
  db/migrations/20220922003702_create_google_users.rb
  forms/connect.rb
  forms/twitch/connect.rb
  locales/en.yaml
  models/google_user.rb
  models/user.rb
  views/site/public/configurations/_connect.html.erb
Due: stylelint, rubocop

Split "Connect provider" and "Sign in with provider"
  config.ru
  config/processors/omniauth.rb
  controllers/site/public/configurations_controller.rb
  controllers/site/public/connect_controller.rb
  helpers/users_helper.rb
  locales/en.yaml
  views/site/public/configurations/_connect.html.erb
Due: rubocop

Fix white-spacing for error header on 500 page
  assets/styles/components/_page.scss
Due: stylelint

Disable current user key to reduce confusion
  views/site/public/configurations/layout.html.erb
Due: none

Improve styles for image alt texts in connections
  assets/styles/components/configurations/_connect.scss
Due: stylelint

Add providers images actualization
  Gemfile
  Gemfile.lock
  config/google_service_account_json_key.example.json
  config/main.rb
  config/processors/google.rb
  config/processors/twitch.rb
  controllers/site/public/configurations_controller.rb
  forms/_provider_user/image/actualize.rb
  forms/google_user/image/actualize.rb
  forms/twitch_user/image/actualize.rb
  views/site/public/configurations/_connect.html.erb
Due: rubocop

Make `Forms::Connect#execute` method private
  forms/connect.rb
Due: rubocop

Add timestamps for providers users
  db/migrations/20221011145039_add_timestamps_to_providers_users.rb
Due: rubocop

Fix disabled inputs colors for dark theme
  assets/styles/_colors.scss
  assets/styles/components/_dark-theme.scss
  assets/styles/lib/_disabled-styles.scss
  assets/styles/main.scss
Due: stylelint

Update Node.js packages
  package.json
  pnpm-lock.yaml
Due: remark, stylelint, eslint

Resolve new Stylelint offenses
  .stylelintrc.yaml
  assets/styles/components/_dark-theme.scss
  assets/styles/lib/_disabled-styles.scss
  assets/styles/main.scss
Due: stylelint

Update Bundle dependencies
  Gemfile
  Gemfile.lock
Due: rubocop

Resolve small RuboCop offense in Gemfile
  Gemfile
Due: rubocop

Fix for `pnpm install`
  pnpm-lock.yaml
Due: none

Resolve new small RuboCop offense
  application.rb
Due: rubocop

Add `libyaml` to Cirrus CI
  .cirrus.yaml
Due: remark, stylelint, eslint, rubocop

Update Ruby Bundle
  Gemfile.lock
Due: rubocop

Try to fix error when Twitch user has been banned
  forms/_provider_user/image/actualize.rb
  forms/twitch_user/image/actualize.rb
Due: rubocop

Temporary disable `Linter/Debugger` RuboCop cop
  benchmark/main.example.rb
Due: rubocop

Change the EditorConfig indentation for benchmark files
  .editorconfig
Due: none

Fix (update?) network dependency service in `systemd` configuration
  config/systemd.example.service
Due: none

Update dependencies, especially git-ones
  Gemfile
  Gemfile.lock
Due: rubocop

Try to improve UX about third-party accounts
  assets/styles/components/configurations/_connect.scss
  assets/styles/components/configurations/_user-key.scss
  locales/en.yaml
  views/site/public/configurations/_connect.html.erb
  views/site/public/configurations/_list.html.erb
  views/site/public/configurations/_load.html.erb
  views/site/public/configurations/_new_link.html.erb
  views/site/public/configurations/layout.html.erb
  views/site/public/configurations/third-party/_connect.html.erb
  views/site/public/configurations/third-party/_load.html.erb
Due: stylelint

Resolve new RuboCop offense
  benchmark/main.example.rb
Due: rubocop

Update UI for connect/load improvements
  assets/styles/components/_configurations.scss
  assets/styles/components/configurations/_connect.scss
  assets/styles/components/configurations/_user-key.scss
  locales/en.yaml
  views/site/public/configurations/_list.html.erb
  views/site/public/configurations/_load.html.erb
  views/site/public/configurations/_new_link.html.erb
  views/site/public/configurations/layout.html.erb
  views/site/public/configurations/third-party/_connect.html.erb
Due: stylelint

Add forgotten style files
  assets/styles/components/configurations/_current-user.scss
  assets/styles/components/configurations/_third-party.scss
Due: stylelint

Re-architecture timers JS
  assets/scripts/components/timers/_form.js
  assets/scripts/components/timers/_show.js
  assets/scripts/components/timers/index.js
  assets/scripts/main.js
Due: eslint

Add confirmations on configuration unload events
  locales/en.yaml
  views/site/public/timers/layout.html.erb
  views/site/public/user/_third-party/_load.html.erb
Due: none

Remove looking non-used view file
  views/site/public/user/_third-party/_connect.html.erb
Due: none

Actualize `pnpm` lock-file a bit
  pnpm-lock.yaml
Due: none
