Repository AlexWayfer/stream_timer: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, stylelint, eslint, rubocop

.cirrus.yaml:

os_setup: &os_setup
  container:
    image: archlinux
  os_setup_script:
    - pacman -Sy
    - pacman -S --noconfirm git gcc make postgresql-libs

rbenv_cache: &rbenv_cache
  rbenv_setup_script:
    - echo 'export PATH="$HOME/.rbenv/bin:$PATH"' >> ~/.bashrc
    - echo 'eval "$(rbenv init -)"' >> ~/.bashrc
  rbenv_cache:
    folder: $HOME/.rbenv
    fingerprint_script:
      - echo $CIRRUS_OS
      - cat .ruby-version
    populate_script:
      - git clone https://github.com/rbenv/rbenv.git ~/.rbenv

      - source ~/.bashrc

      ## https://github.com/rbenv/ruby-build#installation
      - mkdir -p "$(rbenv root)"/plugins
      - git clone https://github.com/rbenv/ruby-build.git "$(rbenv root)"/plugins/ruby-build

      - exe/setup/ruby.sh

nodenv_cache: &nodenv_cache
  nodenv_setup_script:
    - echo 'export PATH="$HOME/.nodenv/bin:$PATH"' >> ~/.bashrc
    - echo 'eval "$(nodenv init -)"' >> ~/.bashrc
  nodenv_cache:
    folder: $HOME/.nodenv
    fingerprint_script:
      - echo $CIRRUS_OS
      - cat .node-version
    populate_script:
      - git clone https://github.com/nodenv/nodenv.git ~/.nodenv

      - source ~/.bashrc

      ## https://github.com/nodenv/node-build#installation
      - mkdir -p "$(nodenv root)"/plugins
      - git clone https://github.com/nodenv/node-build.git "$(nodenv root)"/plugins/node-build

      - exe/setup/node.sh

bundle_cache: &bundle_cache
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
      - echo $CIRRUS_OS
      - cat .ruby-version
      - cat Gemfile.lock
  install_script:
    - source ~/.bashrc
    - exe/setup/ruby.sh

node_modules_cache: &node_modules_cache
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
      - echo $CIRRUS_OS
      - cat .node-version
      - cat pnpm-lock.yaml
  install_script:
    - source ~/.bashrc
    - exe/setup/node.sh


remark_task:
  <<: *os_setup

  always:
    <<: *nodenv_cache

  <<: *node_modules_cache

  lint_script:
    - source ~/.bashrc
    - pnpm run lint:docs

  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yaml', '.gitignore', '.node-version', 'package.json', 'package-lock.json',
      '.remarkrc.yaml', '**.md'
    )

stylelint_task:
  <<: *os_setup

  always:
    <<: *nodenv_cache

  <<: *node_modules_cache

  lint_script:
    - source ~/.bashrc
    - pnpm run lint:styles

  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yaml', '.gitignore', '.node-version', 'package.json', 'package-lock.json',
      'browserslist', '.stylelintrc.yaml', 'assets/styles/**'
    )

eslint_task:
  <<: *os_setup

  always:
    <<: *nodenv_cache

  <<: *node_modules_cache

  lint_script:
    - source ~/.bashrc
    - pnpm run lint:scripts

  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yaml', '.gitignore', '.node-version', 'package.json', 'package-lock.json',
      'browserslist', '.eslint*', 'assets/scripts/**', '*.js'
    )

rubocop_task:
  <<: *os_setup

  always:
    <<: *rbenv_cache

    rubocop_artifacts:
      path: rubocop.json
      type: text/json
      format: rubocop

  <<: *bundle_cache

  lint_script:
    - source ~/.bashrc
    - bundle exec rubocop --format=json --out=rubocop.json

  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yaml', '.gitignore', '.ruby-version', 'Gemfile', 'Gemfile.lock',
      '.rubocop.yml', '**.rb', '**.ru'
    )

Resolve ESLint warnings, add `module` type to the project
  package.json
Due: remark, stylelint, eslint

Add `remark-gfm`
  .remarkrc.yaml
  package.json
  pnpm-lock.yaml
Due: remark, stylelint, eslint

Migrate Stylelint to `@stylistic`
  .stylelintrc.yaml
  assets/styles/lib/_breakpoints.scss
  assets/styles/lib/_button-background-color.scss
  package.json
  pnpm-lock.yaml
Due: remark, stylelint, eslint

Update ESLint config to a new version with `@stylistic`
  .eslintignore
  .eslintrc.yaml
  assets/scripts/.eslintrc.yaml
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: remark, stylelint, eslint

Add `bundle-audit` CI task
  .cirrus.yaml
Due: remark, stylelint, eslint, rubocop

Replace Oga with Nokogiri
  Gemfile
  Gemfile.lock
  spec/integration/index_spec.rb
  spec/integration/spec_helper.rb
Due: rubocop

Replace `require:` with `plugins:` for RuboCop plugins
  .rubocop.yml
Due: rubocop

Resolve new RuboCop offenses
  config/processors/sentry.rb
  controllers/_controller.rb
  forms/_base.rb
  spec/integration/spec_helper.rb
Due: rubocop
