Repository AlexWayfer/stream_timer: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, stylelint, eslint, rubocop

remark:
  container:
    image: archlinux
  os_setup_script:
  - pacman -Sy
  - pacman -S --noconfirm git gcc make postgresql-libs
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
    - echo $CIRRUS_OS
    - cat .node-version
    - cat pnpm-lock.yaml
  install_script:
  - source ~/.bashrc
  - exe/setup/node.sh
  ...

stylelint:
  container:
    image: archlinux
  os_setup_script:
  - pacman -Sy
  - pacman -S --noconfirm git gcc make postgresql-libs
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
    - echo $CIRRUS_OS
    - cat .node-version
    - cat pnpm-lock.yaml
  install_script:
  - source ~/.bashrc
  - exe/setup/node.sh
  ...

eslint:
  container:
    image: archlinux
  os_setup_script:
  - pacman -Sy
  - pacman -S --noconfirm git gcc make postgresql-libs
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
    - echo $CIRRUS_OS
    - cat .node-version
    - cat pnpm-lock.yaml
  install_script:
  - source ~/.bashrc
  - exe/setup/node.sh
  ...

rubocop:
  container:
    image: archlinux
  os_setup_script:
  - pacman -Sy
  - pacman -S --noconfirm git gcc make postgresql-libs
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - cat .ruby-version
    - cat Gemfile.lock
  install_script:
  - source ~/.bashrc
  - exe/setup/ruby.sh
  ...

Ignore new Stylelint offenses
  assets/styles/lib/_breakpoints.scss
Due: stylelint

Update Bundler version in `Gemfile.lock`
  Gemfile.lock
Due: rubocop

Try to fix `current_user` for Sentry
  controllers/site/timer_controller.rb
  view_objects/_base.rb
  views/site/layout.html.erb
Due: rubocop

Add `toys db create_user` command to instructions
  README.md
  exe/setup.sh
Due: remark

Update `nginx` configuration, especially about Letsencrypt
  config/nginx/site.example.conf
Due: none

Rename `configuration` model to `timer`
  models/timer.rb
Due: rubocop

Try to fix CI
  .cirrus.yaml
Due: remark, stylelint, eslint, rubocop

Don't install existing system packages in CI
  .cirrus.yaml
Due: remark, stylelint, eslint, rubocop

Add a note about user units of `systemd`
  README.md
Due: remark

Resolve new RuboCop offenses
  controllers/_controller.rb
  view_objects/_base.rb
Due: rubocop

Update pnpm lock file
  pnpm-lock.yaml
Due: none

Switch `twitch-api` Ruby gem to a new stable version
  Gemfile
  Gemfile.lock
Due: rubocop

Update `pnpm-lock` file after Depfu updates
  pnpm-lock.yaml
Due: none

Update common things in RuboCop config
  .rubocop.yml
Due: rubocop

Resolve new RuboCop offenses about performance
  controllers/site/public/connect_controller.rb
  controllers/site/public/disconnect_controller.rb
  forms/timer/_change.rb
  view_objects/timer.rb
Due: rubocop

Resolve new RuboCop offenses about DB inversible migrations
  db/migrations/20201009180835_add_users.rb
  db/migrations/20221011145039_add_timestamps_to_providers_users.rb
Due: rubocop

Update Twitch configuration for new Twitch API gem
  config/processors/twitch.rb
Due: rubocop

Add `remark-lint-list-item-indent` after Remark update
  .remarkrc.yaml
  package.json
  pnpm-lock.yaml
Due: remark, stylelint, eslint

Add `remark-gfm`
  .remarkrc.yaml
  package.json
  pnpm-lock.yaml
Due: remark, stylelint, eslint

Migrate Stylelint to `@stylistic`
  .stylelintrc.yaml
  assets/styles/lib/_breakpoints.scss
  assets/styles/lib/_button-background-color.scss
  package.json
  pnpm-lock.yaml
Due: remark, stylelint, eslint

Ignore `css-nesting` Stylelint rule for SCSS files
  .stylelintrc.yaml
Due: stylelint

Update ESLint config to a new version with `@stylistic`
  .eslintignore
  .eslintrc.yaml
  assets/scripts/.eslintrc.yaml
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: remark, stylelint, eslint

Resolve new ESLint offenses
  assets/scripts/main.js
Due: eslint

Resolve ESLint warnings, add `module` type to the project
  package.json
Due: remark, stylelint, eslint

Resolve error with SASS `map`
  assets/styles/lib/_breakpoints.scss
Due: stylelint

Rename PostCSS config file to `.cjs`
  postcss.config.cjs
Due: none

Rename ESLint config file to `.mjs` and drop `module` type from `package.json`
  eslint.config.mjs
  package.json
Due: remark, stylelint, eslint

Path conditions:
  remark: any of: .cirrus.yaml, .gitignore, .node-version, package.json, package-lock.json, .remarkrc.yaml, **.md
  stylelint: any of: .cirrus.yaml, .gitignore, .node-version, package.json, package-lock.json, browserslist, .stylelintrc.yaml, assets/styles/**
  eslint: any of: .cirrus.yaml, .gitignore, .node-version, package.json, package-lock.json, browserslist, .eslint*, assets/scripts/**, *.js
  rubocop: any of: .cirrus.yaml, .gitignore, .ruby-version, Gemfile, Gemfile.lock, .rubocop.yml, **.rb, **.ru
